@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* font-family: 'Courgette', cursive; */

main{
    margin-left: 90px;
}
.article1{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.article2{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}
.article3{
    display: flex;
    margin-top: 30px;
    gap: 20px;
    margin-bottom: 30px;
}
.suzette{
    width: 300px;
}

.metro{
    width: 300px;
}

.vitaly{
    width: 300px;
}

main h2{
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;

}

main h4{
    font-size: 30px;
    font-family: 'Courgette', cursive;
    margin-bottom: 15px;
}

main p{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #6c6b6b;
}

main p.precedent{
    font-size: 18px;
}

/* main */

/* aside */
.article{
    text-align: center;
}
.recherche{
    margin-bottom: 10px;
    font-family: 'Courgette', cursive;
    
}
.newsleter{
    margin-top: 10px;
    margin-bottom: 10px;
font-family: 'Courgette', cursive;
}
.partage{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Courgette', cursive;
}
.icons{
    display: flex;
    gap: 25px;
}

.container{
    display: flex;
}
aside{
    margin-top: 120px;
    margin-right: 10px;
    margin-left:    20px;
    
}
.ok{
    border: 10px, solid;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: medium;
}
.inscrire{
    border: 10px, solid;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: medium;
}
.label2{
    padding-top: 12px;
    padding-bottom: 12px;
}
.label3{
    padding-top: 12px;
    padding-bottom: 12px;
   
}

 /* version mobile */
 @media (max-width: 768px) {
    main{
      display: block;
      margin-left: 0px
    }
    aside{
        display: none;
    }

    .article1{
        flex-direction: column;
        margin-left: 20px;
    }
    .article2{
        flex-direction: column;
        margin-left: 20px;
    }
    .article3{
        flex-direction: column;
        margin-left: 20px;
    }
    .metro{
        margin-left: 15px;
        padding-right: 16px;
    }
    .vitaly{
        margin-left: 15px;
        padding-right: 16px;
    }
    .suzette{
        margin-left: 15px;
        padding-right: 16px;
    }
    .texte{
        margin-right: 10px;
    }
    
    }
    
  
/* version tablette */
@media (max-width: 992px) {
     aside{
      display: none;
    }
  }
  /* .input1{
   font-family: 'Oswald', sans-serif;
  }
  .input2{
font-family: 'Oswald', sans-serif;
}  */
  
 
    /* aside */