@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* font-family: 'Courgette', cursive; */

/* header */
header{
    height: 400px;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.884) ), url(../img/header.jpg) no-repeat;
    background-position: 10%;
    background-size: 100%;
    color: #fff;
}

section.top-header{
    display: flex;
    height: 30px;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 10px 10px;
}

header img{
    width: 100px;
    margin-top: 70px;
    margin-bottom: 15px;
}

section.bottom-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div.logo{
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

header h1{
    font-family: 'Courgette', cursive;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

header h3{
    font-family: 'Courgette', cursive;
    font-size: 30px;
}

img.burger{
    display: none;
}

nav{
    font-family: 'Oswald', sans-serif;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 5px;
    color: lightgray;
}

nav a.accueil:visited{
    color: #fff;
}

/* footer */
footer{
    margin-top: 20px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

footer h2{
    font-size: 25px;
    font-family: 'Courgette', cursive;
    color: #fff;
    margin: 20px 0;
}

footer ul li.list{
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 5px;
    color: darkgray;
}

div.contact h3{
    font-family: 'Courgette', cursive;
    margin-bottom: 5px;
    margin-top: 20px;
}

footer input{
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
}

div.contact button{
    font-family: 'Oswald', sans-serif;
    background-color: black;
    color: white;
    border: 2px #fff solid;
    border-radius: 5px;
    padding: 0 10px;
}

footer i{
    font-size: 25px;
    margin-right: 10px;
}


/* responsive */
/* mobile version */
@media (max-width: 768px) {
    /* header */
    header{
        background-size: cover;
    }

    nav{
        display: none;
    }

    img.burger{
        display: inline;
        width: 40px;
        height: 30px;
        margin: 0;
        margin-right: 35px;
    
    }

    /* footer */
    footer{
        flex-direction: column;
    }

}

/* version tablette */
@media (max-width: 992px) {
    /* header */
    nav{
        display: none;
    }

    img.burger{
        display: inline;
        width: 40px;
        height: 30px;
        margin: 0;

    }

    /* footer */
    footer{
        flex-direction: column;
    }

}
/* aside */
.article{

    text-align: center;
}
.recherche{
    margin-bottom: 10px;
    font-family: 'Courgette', cursive;
    
}
.newsleter{
    margin-top: 10px;
    margin-bottom: 10px;
font-family: 'Courgette', cursive;
}
.partage{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Courgette', cursive;
}
.icons{
    display: flex;
    gap: 25px;
}

aside{
    margin-top: 120px;
    margin-right: 10px;
    margin-left:    20px;
    
}
.ok{
    border: 10px, solid;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: medium;
}
.inscrire{
    border: 10px, solid;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: medium;
}
.label2{
    padding-top: 12px;
    padding-bottom: 12px;
}
.label3{
    padding-top: 12px;
    padding-bottom: 12px;
   
}

/* aside*/
