@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* font-family: 'Courgette', cursive; */

header{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.884) ), url(../img/team/team.jpg) no-repeat;
    background-size: cover;
    background-position: 20%;
    margin-bottom: 40px;
}

header h2{
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

/* main */
main img{
    width: 20%;
    float: left;
    clip-path: ellipse(50% 50%);
    margin: 0 30px;
}

main p{
    color: rgb(88, 88, 88);
}

div.side{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}

aside{
    margin-top: 0;
}

/* responsive  */
@media (max-width: 768px){

    main{
        margin: 0 -20px
    }

    main img{
        width: 50%;
    }
}